# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Airflow
logs/
airflow/logs/
airflow/*.db

# Environment
.env
.venv/
venv/

# Docker
*.pid

# Credentials
*.json
credentials/
service_account/

# OS
.DS_Store
Thumbs.db

config/config.yaml
service_account.json

__pycache__/
*.pyc